<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   	<!-- 
		配置bean
		class:bean的全类名，通过反射的方式在IOC容器中创建Bean，所以要求Bean中必须有无参的构造器
		id: 标识容器中的bean,是唯一的
	 -->
	<bean id="helloworld" class="com.tutorial.spring4.HelloWorld">
		<property name="name" value="Spring"></property>
	</bean>


	<!-- 
		有两种注入方式，前面用的是属性注入，这个例子用的是构造器注入
		并且通过index,和type属性来指定参数的顺序，并以此来区分重载的构造器
	 -->
	<bean id="car" class="com.tutorial.spring4.Car">
		<constructor-arg value="Audi" index="0"></constructor-arg>
		<!-- 
			如果字面值包含特殊字符可以用<![CDATA[]]>包装起来 
			属性值可以通过value元素进行配置		
		-->
		<constructor-arg index="1">
			<value><![CDATA[<ShangHai>]]></value>
		</constructor-arg>
		<constructor-arg value="400000.0" type="double"></constructor-arg>
	</bean>
	
	<bean id="car2" class="com.tutorial.spring4.Car">
		<constructor-arg value="Audi" type="java.lang.String"></constructor-arg>
		<constructor-arg value="BeiJing" type="java.lang.String"></constructor-arg>
		<constructor-arg value="240" type="int"></constructor-arg>
	</bean>
	
	<bean id="person" class="com.tutorial.spring4.Person">
		<property name="name" value="Tom"></property>
		<property name="age" value="23"></property>
		<property name="car" ref="car"></property>
		<!-- 为级联属性赋值，注意，car需要先初始化后才可以为级联属性进行赋值，不然会有异常，和struts2不同 -->
		<property name="car.speed" value="260"></property>
	</bean>
	
</beans>